<header class="navbar" ng-controller="navbarCtrl">
  <nav class="nav valign-center container">
    <a class="nav__link" href="#!/community">Community</a>
    <a class="nav__link" href="#!/help">Help</a>
    <a class="nav__link" href="#!/contact">Contact</a>
    <div class="spacer"></div>
    <a
        href="#/home"
        class="logout"
        data-tippy-content="Logout"
        data-tippy-placeemnt="down"
        data-tippy-size="small"
    >
        <i class="fas fa-power-off"></i>
    </a>
  </nav>
</header>
