.navbar {
  border-bottom: 2px solid var(--color-primary);
  background-color: var(--navbar-color);

  .nav {
    padding: 20px 0;

    &__link {
      margin-right: 30px;
      transition: color .3s ease;

      &:hover {
        color: #000
      }
    }

    .logout {
      position: absolute;
      right: 30px;
      top: 15px;
      font-size: 1.5em;
      color: var(--color-primary);
      cursor: pointer;
    }
  }
}
