:root {
  --background-color: #F6F6F6;

  --color-primary: #E71B8D;
  --color-default-dark: #444;
  --color-default-darker: #323232;
  --color-default-light: #F7F7F7;
  --color-text: #444;
  --color-text-contrast: #F7F7F7;

  --navbar-color: #fff;
}
