<section class="content">
  <div ng-include="'./modules/common/navbar/partial/navbar.html'"></div>
  <section class="user-panel container">
    <div class="block__wrapper">


      <div ng-repeat="subject in subjectList" class="block flex-column halign-spbetween">
        <div class="block__title valign-center halign-center">{{ subject.name }}</div>
        <div class="block__info">
          <p class="block__info__desc">
            {{ subject.description }}
          </p>
          <button class="block__button">Choose</button>
        </div>
      </div>

    </div>
  </section>
</section>
