<section class="content">
  <header class="navbar">
    <nav class="nav valign-center navbar-container">
      <a class="nav__link" href="#Community">Community</a>
      <a class="nav__link" href="#Help">Help</a>
      <a class="nav__link" href="#Contact">Contact</a>
      <div class="spacer"></div>
      <span
          class="logout"
          data-tippy="Logout"
          data-tippy-placeemnt="down"
          data-tippy-size="small"
      >
        <i class="fas fa-power-off"></i>
      </span>
    </nav>

  </header>
  <section class="user-panel container">
    <div class="block__wrapper">
      <div class="block flex-column halign-spbetween">
        <div class="block__title valign-center halign-center">Biology</div>
        <div class="block__info">
          <p class="block__info__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elit quis velit egestas dapibus.
            Aliquam dapibus feugiat ultrices. Nunc.
          </p>
          <button class="block__button">Choose</button>
        </div>
      </div>
      <div class="block flex-column halign-spbetween">
        <div class="block__title valign-center halign-center">Mathematics</div>
        <div class="block__info">
          <p class="block__info__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elit quis velit egestas dapibus.
            Aliquam dapibus feugiat ultrices. Nunc.
          </p>
          <button class="block__button">Choose</button>
        </div>
      </div>
      <div class="block flex-column halign-spbetween">
        <div class="block__title valign-center halign-center">Science</div>
        <div class="block__info">
          <p class="block__info__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum lorem
            placerat aliquam placerat. Nulla finibus a justo id commodo.
          </p>
          <button class="block__button">Choose</button>
        </div>
      </div>

      <div class="block flex-column halign-spbetween">
        <div class="block__title valign-center halign-center">Health</div>
        <div class="block__info">
          <p class="block__info__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum lorem
            placerat aliquam placerat. Nulla finibus a justo id commodo.
          </p>
          <button class="block__button">Choose</button>
        </div>
      </div>

      <div class="block flex-column halign-spbetween">
        <div class="block__title valign-center halign-center">English</div>
        <div class="block__info">
          <p class="block__info__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed quam sit amet nisi consequat blandit.
            Duis tincidunt augue vitae.
          </p>
          <button class="block__button">Choose</button>
        </div>
      </div>

      <div class="block flex-column halign-spbetween">
        <div class="block__title valign-center halign-center">Geography</div>
        <div class="block__info">
          <p class="block__info__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a purus ut nisl ultrices pulvinar.
            Etiam consequat, leo quis consectetur.
          </p>
          <button class="block__button">Choose</button>
        </div>
      </div>

      <div class="block flex-column halign-spbetween">
        <div class="block__title valign-center halign-center">History</div>
        <div class="block__info">
          <p class="block__info__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed urna dolor, molestie quis ultricies
            blandit, ornare vitae augue. Aliquam erat.
          </p>
          <button class="block__button">Choose</button>
        </div>
      </div>

      <div class="block flex-column halign-spbetween">
        <div class="block__title valign-center halign-center">Computer Science</div>
        <div class="block__info">
          <p class="block__info__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas facilisis bibendum erat non consequat.
            Praesent quam dolor, sagittis vitae porttitor.
          </p>
          <button class="block__button">Choose</button>
        </div>
      </div>

      <div class="block flex-column halign-spbetween">
        <div class="block__title valign-center halign-center">Art</div>
        <div class="block__info">
          <p class="block__info__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non mauris eros.
            In hac habitasse platea dictumst. Aliquam leo neque.
          </p>
          <button class="block__button">Choose</button>
        </div>
      </div>

    </div>
  </section>
</section>
